<form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
        <input type="text" formControlName="email" class="form-control" id="username" placeholder="{{resource.getString('LOGIN_PLACEHOLDER_USERNAME')}}"
            autocomplete="off" spellcheck="off" [ngModel]="auth.email" required="{{resource.getString('LOGIN_PLACEHOLDER_USERNAME')}}" inputPattern>
        <show-errors [control]="loginForm.controls.email"></show-errors>
    </div>  

    <div class="form-group">
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="{{resource.getString('LOGIN_PLACEHOLDER_PW')}}"
            autocomplete="off" spellcheck="off" [ngModel]="auth.password" required inputPattern>
        <show-errors [control]="loginForm.controls.password"></show-errors>
    </div>

    <div class="checkbox checkbox-primary">
        <input id="rememberMe" type="checkbox" formControlName="rememberMe" [ngModel]="auth.rememberMe">
        <label for="rememberMe" class="color--gray">{{resource.getString('LOGIN_LABEL_REMEMBER_ME')}}</label>
    </div>

    <button type="submit" class="btn btn-primary text-uppercase btn-block login__sign-in" [disabled]="loginForm.invalid">{{resource.getString('LOGIN_LABEL_SIGN_IN')}}</button>
</form>
