<div class="not-found-page text-center">
    <mat-card class="not-found-page__card">
        <mat-card-content>
            <img height="400" mat-card-mat-image src="../../../assets/images/404-error.png" alt="404">
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions>
                <button mat-raised-button color="accent" routerLink="/">
                    {{resource.getString('TAKE_ME_HOME')}}
                </button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
</div>