<h2>Dashboard</h2>
<p>
    Welcome to the Admin dashboard!
    The Authentication Guard in the Core Module will only allow you access this route if you have logged in.
</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Company</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of (adminState$ | async); index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address.street }}</td>
        <td>{{ user.company.name }}</td>
      </tr>
    </tbody>
  </table>

